@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");

body {
  background: #000;
  font-family: Raleway, sans-serif;
  color: white;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -999;
}

h1 {
  font-size: 13vw;
  line-height: 80%;
  word-break: break-all;
}

#social {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;

    a {
        text-decoration: none;
        opacity: 0.3;
        transition: opacity .5s ease-out;
        display: block;
        text-align: center;

        &:hover{
            opacity: 1;
        }

        &:nth-of-type(1){
            grid-column-start: 1;
        }
        &:nth-of-type(2){
            grid-column-start: 2;
        }
        &:nth-of-type(3){
            grid-column-start: 3;
        }
        &:nth-of-type(4){
            grid-column-start: 4;
        }
    }
}
